@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

:root{
  --text-color: #333;
  --container-bg: lightblue;
  --bg-color: #fff;
  --heading-color: #333;

  --box-padding: 0;
  --box-color:#ff8c69;
}

html[data-color-mode='dark']{
  --text-color: #fff;
  --container-bg: #555;
  --bg-color: #333;
  --heading-color: lightblue;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: var(--container-bg);
  padding: 2em;
  text-align: justify;
}

h1 {
  text-align: center;
  font-size: 6rem;
  padding: 0;
  margin: 0;
  margin-bottom:0.6em;
  line-height:1;
  color: var(--heading-color);
}

h1 span{
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0;
}

button{
  display:block;
  margin: 50px auto; 
}

.box{
  padding: var(--box-padding);
  width: 20px;
  height:20px;
  background-color: var(--box-color);
  margin: auto;
}
